body {
    overflow: hidden;
    min-width: 320px;
}
main {
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeButton {
    padding: 16px 32px;
    font-size: 16px;
    line-height: 24px;
    filter: drop-shadow(0px 0px 44px #CFDAE7);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
}
.HomeButton:hover {
    background: #EA0029;
    box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
}
.HomeButton:disabled {
    background: #BEC5CC;
}